<!doctype html>
<html lang="en-US">
  <head>
    <title>Bookshelf</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  </head>
  <body>
    <main>
      <h1>Bookshelf</h1>
      <%= yield %>
    </main>
  </body>
</html>
