<h2>All books</h2>

<div id="books">
  <% if books.empty? %>
    <p>Sorry! Your bookshelf is empty! :(</p>
  <% end %>

  <% books.each do |book| %>
    <div class="book">
      <h3><%= book.title %></h3>
      <p>by <%= book.author %></p>
    </div>
  <% end %>
</div>
