<h2>Add a Book</h2>

<ul>
  <% error_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<form id="book-form" action="/books" method="post">
  <div class="field">
    <label class="label" for="title">Title:</label>
    <input class="input" name="title" value="<%= book.to_h.dig(:title) %>" />
  </div>
  <div class="field">
    <label class="label" for="author">Author:</label>
    <input class="input" name="author" value="<%= book.to_h.dig(:author) %>"  />
  </div>
  <div class="actions">
    <input name="Create" type="submit" value="Save" />
  </div>
</form>
